* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
}



:root {
    --light-red: hsl(13, 100%, 72%);
    --deep-red: hsl(353, 100%, 62%);
}

.noscroll {
    position: fixed;
    width: 100%;
}

/* mobile */
@media(max-width: 31.9375rem) {

    .desktop {
        display: none;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown > p {
        padding-top: 2rem;
    }


    .hamburger-overlay {
        display: none;
        text-align: center;
    }
    
    ul {
    
        list-style: none;
    }
    
    .hamburger-overlay {
        position: fixed;
        padding-top: 2rem;
        padding-bottom: 2rem;
        top: 5rem;
        left: 1rem;
        right: 1rem;
        background-color: white;
    }
    
    .hamburger-overlay {
        border-radius: 0.5rem;
        margin: 2rem auto;
        box-shadow: 0rem 1rem 2rem rgba(94, 80, 80, 0.678);
    }
    
    hr {
        margin-top: 2rem;
        width: 82%;
    }

    .sign-up {
        padding: 0.625rem 1.25rem;
        outline: none;
        border: 2px solid white;
        border-radius: 3.75rem;
        background-image: linear-gradient(to right, var(--light-red), var(--deep-red));
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .login {
        padding: 1rem 1.5rem;
        margin-top: 2rem;
        border-radius: 3.75rem;
        border: 2px solid white;
        background-color: white;
    
    }

    ul {
        border-radius: 1rem;
        background-color: rgba(225, 216, 216, 0.707);
        margin-left: 1.2rem;
        margin-right: 1.2rem;

    }
    
    li {
        margin-right: 2.5rem;
        padding-bottom: 0.2rem;
        line-height: 2rem;
    }
  
    .mobile-illustrator {
        width: 100%;
    }

    .laptop-on-ring {
        width: 100%;
        margin-top: 3rem;
    }

    .mobile-header {
        color: white;
        background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(to right, var(--light-red), var(--deep-red));
        background-size: 80rem;
        background-position-x: -18rem;
        background-position-y: -16rem;
        background-repeat: cover;
        border-bottom-left-radius: 6rem;
    }

    .intro-header {
        font-size: 2.1875rem;
    }

    .mobile-sign-up, .mobile-learn-more {
        margin-top: 1.25rem;
        padding: 0.625rem 1.25rem;
        outline: none;
        border: 2px solid white;
        border-radius: 3.75rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-sign-up {
        margin-right: 0.625rem;
        background-color: white;
        color: red;
    }

    .mobile-learn-more {
        margin-left: 10px;
        color: white;
        background-color: transparent;
    }

    .mobile-logo {
        margin-left: 1.25rem;
    }

    .mobile-logo, .hamburger {
        margin-top: 2.5rem;
    }

    .hamburger{
        margin-right: 1.25rem;
    }
    
    .header-content {
        height: 25rem;
        text-align: center;
        padding: 5.625rem 0 25rem 0;
    }

    .sec-one {
        margin-top:6rem ;
    }

    .sec-two, .sec-three, .sec-four, .sec-five {
        line-height: 2rem;
    }

    .sec-two, .sec-three {
        margin-top: 3rem;
        text-align: center;
    }

    .future-header {
        text-align: center;
        margin-bottom: 3rem;
    }

    .sec-four {
        margin-top: 14rem;
        color: white;
        text-align: center;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 5rem;
    }

    .sec-four {
        background-color: rgb(11, 11, 49);
        background-image: url("./images/bg-pattern-circles.svg");
        background-position: -6rem -8rem;
        background-size: 30rem;
        background-repeat: no-repeat
    }

    .sec-four-content {
        margin-top: -10rem;
        padding-bottom: 4rem;
    }

    .mobile-phones {
        position: relative;
        bottom: 9rem;
        width: 100%;

    }

    .sec-five {
        text-align: center;
    }

    footer {
        height: 60rem;
        color: white;
        background-color: rgb(11, 11, 49);
        text-align: center;
        border-top-right-radius: 5rem;
        margin-top: 4rem;

    }

    .footer-logo {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .footer-header {
        margin-top: 2.5rem;
        margin-bottom: 3rem;
    }
}


/* Tablets */
@media(min-width:32rem) and (max-width: 77.4375rem) {

   
    .hamburger-overlay {
        display: none;
        text-align: center;
    }


    .dropdown-content {
        display: none;
    }

    .dropdown > p {
        padding-top: 2rem;
    }

    .hamburger-overlay {
        position: fixed;
        padding-top: 2rem;
        padding-bottom: 2rem;
        top: 5rem;
        left: 1rem;
        right: 1rem;
        background-color: white;
        font-size: 1.2rem;
    }
    
    .hamburger-overlay {
        border-radius: 0.5rem;
        margin: 3rem auto;
        box-shadow: 0rem 1rem 2rem rgba(94, 80, 80, 0.678);
    }

    
    ul {
        list-style: none;
        border-radius: 1rem;
        background-color: rgba(225, 216, 216, 0.707);
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
    li {
        margin-right: 2.5rem;
        padding-bottom: 0.2rem;
        line-height: 2rem;
    }

    
    hr {
        margin-top: 2rem;
        width: 82%;
    }

    .sign-up {
        padding: 0.625rem 1.25rem;
        outline: none;
        border: 2px solid white;
        border-radius: 3.75rem;
        background-image: linear-gradient(to right, var(--light-red), var(--deep-red));
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .login {
        padding: 1rem 1.5rem;
        margin-top: 2rem;
        border-radius: 3.75rem;
        border: 2px solid white;
        background-color: white;
    
    }

    .desktop {
        display: none;
    }

    .mobile-header {
        color: white;
        background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(to right, var(--light-red), var(--deep-red));
        background-size: 80rem;
        background-position-y: -16rem;
        background-repeat: cover;
        border-bottom-left-radius: 6rem;
    }

    .intro-header {
        line-height: 4rem;
        font-size: 3.5rem;
    }

    .header-para {
        font-size: 1.5rem;
    }

    .mobile-sign-up, .mobile-learn-more {
        margin-top: 1.25rem;
        padding: 0.625rem 1.25rem;
        outline: none;
        border: 2px solid white;
        border-radius: 3.75rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-sign-up {
        margin-right: 0.625rem;
        background-color: white;
        color: red;
    }

    .mobile-learn-more {
        margin-left: 10px;
        color: white;
        background-color: transparent;
    }

    .mobile-logo {
        margin-left: 2rem;
    }

    .mobile-logo, .hamburger {
        margin-top: 4rem;
    }

    .hamburger{
        margin-right: 2rem;
    }
    
    .header-content {
        height: 25rem;
        text-align: center;
    }

    .sec-one {
        margin-top: 6rem ;
    }

    .future-header {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    .mobile-illustrator {
        width: 100%;
    }

    h1, h2 {
        line-height: 3rem;
    }

    .sec-two, .sec-three, .sec-four, .sec-five {
        font-size: 2rem;
        line-height: 2rem;
    }

    .sec-two, .sec-three {
        margin-top: 3rem;
        text-align: center;
    }

    .sec-four {
        margin-top: 14rem;
        color: white;
        text-align: center;
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 5rem;
    }

    .sec-four {
        background-color: rgb(11, 11, 49);
        background-image: url("./images/bg-pattern-circles.svg");
        background-position: -6rem -12rem;
        background-size: 50rem;
        background-repeat: no-repeat
    }

    .sec-four-content {
        margin-top: -18rem;
        padding-bottom: 4rem;
    }

    .mobile-phones {
        position: relative;
        bottom: 9rem;
        width: 100%;
    }

    .laptop-on-ring {
        width: 100%;
        margin-top: 3rem;
    }

    .sec-five {
        text-align: center;
    }

    footer {
        font-size: 1.8rem;
        height:82rem;
        color: white;
        background-color: rgb(11, 11, 49);
        text-align: center;
        border-top-right-radius: 5rem;
        margin-top: 4rem;
    }

    .footer-logo {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .footer-header {
        margin-top: 2.5rem;
        margin-bottom: 3rem;
    }
}


/* Media query for desktop */
@media(min-width: 77.5rem) {

    .mobile-first {
        display: none;
    }

    body {
        margin: 0;
    }

    li {
        list-style: none;
    }

    header {
        height: 500px;
        text-align: center;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: white;
        color: black;
        text-align: left;
        padding: 2rem 3rem;
        border-radius: 0.5rem;
    }

    .dropdown-content {
        box-shadow: -0rem 0.5rem 0.1rem rgba(36, 36, 35, 0.234);
    }

    li {
        margin-left: -2rem;
        line-height: 1.5rem;
    }

    .dropdown:hover {
        text-decoration: underline;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    li {
        color: gray;
    }

    li:hover {
        color: black;
    }

    header {
        color: white;
        background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(to right, var(--light-red), var(--deep-red));
        background-size: 150rem;
        background-position: center;
        background-repeat: no-repeat;
        background-position-x: -1rem;
        border-bottom-left-radius: 6rem;

    }
    .desktop-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-navigation {
        padding-top: 4rem;
    }

    .desktop-logo {
        margin-left: 6rem;
    }

    .product, .company, .connect {
        margin-left: -10rem;
    }

    .desktop-form {
        margin-right: 10rem;
    }

    .desktop-content-header {
        font-size: 3rem;
    }

    .desktop-nav-content {
        margin-top: 6rem;
    }

    .dropdown-arrow {
        padding-left: 0.5rem;
    }

    .desktop-paragraph {
        margin-top: -1.5rem;
        padding-bottom: 2rem;

    }

    .login, .learn {
        margin-right: 0.8rem;
        background-color: transparent;
        color: white;
    }

    .sign-up, .start {
        background-color: white;
        color: red;
    }

    .start {
        margin-right: 1rem;
    }

    .login, .sign-up, .start, .learn {
        padding: 0.625rem 1.25rem;
        outline: none;
        border: 2px solid white;
        border-radius: 3.75rem;
    }

    :hover.start {
        color: white;
        background-color: var(--deep-red);
        border: 2px solid var(--deep-red);
    }

    :hover.learn {
        color: red;
        background-color: white;
    }
    
    :hover.login {
        color: red;
        background-color: white;
    }

    :hover.sign-up {
        color: white;
        background-color: var(--deep-red);
        border: 2px solid var(--deep-red);
    }

    .the-future {
        position: relative;
        top: 8rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .section-flex {
        display: flex;
        align-items: center;
        height: 67rem;
    }

    .section-flex {
        background-image: url("./images/illustration-editor-desktop.svg");
        background-repeat: no-repeat;
        background-size: 70rem;
        background-position-x: 69rem;
    }

    .sec-one-content {
        margin-left: 14rem;
        line-height: 2rem;
    } 

    .robust {
        padding-top: 2rem;
    }

    .sec-two {
        background-image: url("./images/bg-pattern-circles.svg");
        background-repeat: no-repeat;
        background-size: 76rem;
        background-position-x: -17rem;
        background-position-y: -43rem;
        background-color: rgb(11, 11, 49);
        border-top-right-radius: 4rem;
        border-bottom-left-radius: 4rem;
    }

    .sec-two {
        display: flex;
        margin-top: 10rem;
        height: 26rem;
    }

    .two-phones {
        position: relative;
        top: -4rem;
        left: 10rem;
    }

    .sec-two-content {
        color: white;
        line-height: 2rem;
        padding-top: 6rem;
        padding-left: 20rem;
    }

    .sec-two-header {
        font-size: 2.3rem;
    }

    .sec-three {
        display: flex;
        align-items: center;
        margin-top: 12rem;
        margin-bottom: 6rem;
        height: 60rem;
    }

    .sec-three {
        background-image: url("./images/illustration-laptop-desktop.svg");
        background-size: 73rem;
        background-repeat: no-repeat;
        background-position-x: -21rem;
    }

    .sec-three-content {
        line-height: 2rem;
        margin-left: 55rem;
        margin-top: -8rem;
    }


    footer {
        height: 20rem;
        text-align: left;
        color: white;
        background-color: rgb(11, 11, 49);
        border-top-right-radius: 3.5rem;
    }

    .footer {
        display: flex;
        margin-left: 30rem;
        padding-top: 3rem;
    }

    .footer-product, .footer-company, .footer-connect {
        margin-left: 8rem;
    }

    
    .fp:hover {
        text-decoration: underline;
    }

    .footer-logo {
        padding-top: 1rem;
        padding-right: 4rem;
    }

}

